In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
%matplotlib inline

In [6]:
df_final_web_data_cc = pd.read_csv('cleaned_data/df_final_web_data_cc_clean.csv')
df_final_web_data_cc

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04
...,...,...,...,...,...
626878,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10
626879,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29
626880,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51
626881,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34
626882,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09

In [8]:
#check if client_id always has the same visitor_id:

# Group by 'client_id' and calculate the number of unique 'visitor_id' values
unique_visitor_counts = df_final_web_data_cc.groupby('client_id')['visitor_id'].nunique()

# Check if every 'client_id' has only 1 unique 'visitor_id'
consistent_mapping = unique_visitor_counts == 1

# Print any inconsistencies
if consistent_mapping.all():
    print("All client_ids always map to the same visitor_id.")
else:
    inconsistent_clients = unique_visitor_counts[unique_visitor_counts > 1]
    print("The following client_ids map to multiple visitor_ids:")
    print(inconsistent_clients)

The following client_ids map to multiple visitor_ids:
client_id
1643       2
1680       2
4653       2
6130       3
7367       2
          ..
9996088    2
9996404    2
9997470    2
9998342    2
9999729    3
Name: visitor_id, Length: 7841, dtype: int64

In [11]:
#calculate completion rate based on visit_id
visits_grouped = df_final_web_data_cc.groupby('visit_id')
total_visits = len(visits_grouped)
df_success_visits = visits_grouped.filter(lambda x: (x['process_step'] == 'confirm').any())
n_success_visits = df_success_visits['visit_id'].nunique()
completion_rate_overall = n_success_visits / total_visits
completion_rate_overall
#df_final_web_data_cc['complet_rate'] = visits_grouped.filter(lambda x: (x['status'] == 'yes').any() / len(visits_grouped)

0.5730933257788633